{% extends 'base.html.twig' %}
{% set page = 'meeting' %}

{% block title %}Page de démarrage{% endblock %}

{% block body %}
    <h1>Liste des Matchs</h1>
    {# <a href="{{path('app_team_new')}}" class="btn btn-primary">Nouveau Match</a> #}
    

    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Place</th>
            <th>Score</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for meeting in meetings %}
            <tr>
                <td>{{ meeting.date|date('d/m/Y')}}</td>
                <td>{{ meeting.place }}</td>
                <td>{{ meeting.score }}</td>
                {# <td>
                    <a href="{{ path('app_team_update', {'id':team.id}) }}" class="btn btn-primary">Modifier</a>
                </td> #}
                {# <td>
                    <form action="{{ path('app_team_delete', {'id': team.id}) }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token('remove-team-'~team.id) }}">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td> #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>Il y a {{ nbrMeetings }} matchs</p>
{% endblock %}
